<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static\css\indexStyles.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div id="game">
            <div id="display">
                <div id="resource-stats">
                    <img src="../static/assets/Gold-Redone.png"/><p class="stat" id="gold">Gold: 0</p>
                    <img src="../static/assets/Log-small.png"/><p class="stat" id="logs">Logs: 0</p>
                    <img src="../static/assets/Stone-Redone.png"/><p class="stat" id="stone">Stone: 0</p>
                    <img src="../static/assets/Iron-ore.png"/><p class="stat" id="iron">Iron: 0</p>
                    <!--<img src="../static/assets/Planks.png"/><p class="stat" id="planks">Planks: 0</p>-->
                </div>
                <div id="villager-stats">
                    <p id="housing-space">Housing Space: 3</p>
                    <p id="villager-count">Villagers: 2</p>
                    <p id="worker-count">Current Workers: 1</p>
                </div>
            </div>
            <div id="map"></div>
            <div></div>
            <div id="enter-button-container">
                <button id="enter-shop-button">Enter Shop</button>
                <button id="enter-upgrade-menu-button">Open Upgrade Menu</button>
            </div>
            <div id="city">
                <img src="../static/assets/LumberMan.gif"/>
                <img src="../static/assets/log-cabin.png"/>
            </div>
            
            <div id="shop">
                <button id="close-shop-button">Close Shop</button>
                
                <div class="purchase-button-container">
                    <button class="purchase-buttons" id="purchase-lumberjack-button">Buy LumberJack</button>
                    <div class="purchase-items-container">
                        <img src="../static/assets/Log-small.png"><p id="lumberjack-log-cost"><span class="current-log-amount">0</span> / 50</p>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <button class="purchase-buttons" id="purchase-mine-button">Buy Mine</button>
                    <div class="purchase-items-container">
                        <img src="../static/assets/Log-small.png"><p id="mine-log-cost"><span class="current-log-amount">0</span> / 80</p>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <button class="purchase-buttons" id="purchase-log-cabin-button">Buy Log Cabin</button>
                    <div class="purchase-items-container">
                        <img src="../static/assets/Log-small.png"><p id="log-cabin-log-cost"><span class="current-log-amount">0</span> / 200</p>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <button class="purchase-buttons" id="purchase-sawmill-button">Buy Sawmill</button>
                    <div class="purchase-items-container">
                        <img src="../static/assets/Log-small.png"><p id="sawmill-log-cost"><span class="current-log-amount">0</span> / 1000</p>
                        <img src="../static/assets/Stone-Redone.png"><p id="sawmill-stone-cost"><span class="current-stone-amount">0</span> / 100</p>
                        <img src="../static/assets/Iron-ore.png"><p id="sawmill-iron-cost"><span class="current-iron-amount">0</span> / 20</p>
                    </div>
                </div>
                <div class="purchase-button-container">
                    <button class="purchase-buttons" id="purchase-small-plank-house-button">Buy Small Plank House</button>
                    <div class="purchase-items-container">
                        <img src="../static/assets/Log-small.png"><p id="small-plank-house-log-cost"><span class="current-log-amount">0</span> / 2000</p>
                        <img src="../static/assets/Plank.png"><p id="small-plank-house-plank-cost"><span class="current-plank-amount">0</span> / 100</p>
                    </div>
                </div>                       
            </div>
            <!--Need to balance upgrades and buys-->
            <div id="upgrades">
                <div id="upgrade-container">
                    <div>
                        <button class="upgrade-button-class upgrade-button-class-border" id="sturdier-axe-upgrade"><p>Sturdier axe handles<br><span class="upgrade-terms">+20% Lumberjack speed</span></p></button>
                        <div class="upgrade-cost-container" id="sturdier-axe-upgrade-cost-container">
                            <div class="upgrade-cost-item-container">
                                <img src="../static/assets/Log-small.png"/><p id="upgrade-1-cost" class="upgrade-amount-class">300</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="three-by-one-upgrades">
                            <div>
                                <button class="upgrade-button-class upgrade-button-class-locked" id="strength-training-upgrade"><p>Strength training<br><span class="upgrade-terms">+20% worker speed</span></p></button>
                                <div class="upgrade-cost-container" id="strength-training-upgrade-cost-container">
                                    <div class="upgrade-cost-item-container">
                                        <img src="../static/assets/Log-small.png"/><p class="upgrade-amount-class">3000</p>
                                        <img src="../static/assets/Stone-Redone.png"/><p class="upgrade-amount-class">400</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="upgrade-button-class upgrade-button-class-locked" id="log-cabin-rearrangement-upgrade"><p>Rearrangement of the log cabin furnature<br><span class="upgrade-terms">+1 log cabin housing space</span></p></button>
                                <div class="upgrade-cost-container" id="log-cabin-rearrangement-upgrade-cost-container">
                                    <div class="upgrade-cost-item-container">
                                        <img src="../static/assets/Log-small.png"/><p class="upgrade-amount-class">12000</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="upgrade-button-class upgrade-button-class-locked" id="bigger-minecart-upgrade"><p>Increases minecart size<br><span class="upgrade-terms">+20% mining speed</span></p></button>
                                <div class="upgrade-cost-container" id="bigger-minecart-upgrade-cost-container">
                                    <div class="upgrade-cost-item-container">
                                        <img src="../static/assets/Log-small.png"/><p class="upgrade-amount-class">4000</p>
                                        <img src="../static/assets/Stone-Redone.png"/><p class="upgrade-amount-class">2000</p>
                                        <img src="../static/assets/Iron-ore.png"/><p class="upgrade-amount-class">300</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <button id="close-upgrade-menu-button">Close Upgrade Menu</button>
                <!--<div id="permanent-upgrades">
                    <div id="sharper-axes">
                        <h2>Sharper axes - Permanent upgrade</h2>
                        <p>Sharper axes makes splitting logs easier. 20% speed increase</p>
                        <button id="sharper-axes-buy-button">Buy: 200</button>
                    </div>
                    <div>
                        <p>p</p>
                    </div>
                </div>
                <div id="temp-upgrades">
                    <h2>Pay Lumberjacks - Temporary upgrade</h2>
                    <p>Boots Lumberjack worker morale - 10% increased speed</p>
                    <button id="buy-temp-bonus-lumberjack-pay"></button>
                </div>-->
            </div>

            <script src="../static/js/main.js"></script>
        </div>
    </main>
    
</body>
</html>